.f_flex{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-items: center;
    justify-content: center; 
    margin-top:20px;
}

.f_flex img{
    width: 400px;
    height:350px;
}

.careers{
    margin: 50px;
}

.career_info{
    margin: 80px;
}

@media(max-width: 326px){
    .f_flex{
        flex-direction: column;
    }

    .f_flex img{
        width: 300px;
        height: auto;
    }
    .career_info{
        margin: 20px 20px 20px 20px;
    }
}