.hero{
    display:flex;
    flex-direction:row;
    margin-top: 100px;
}

.hero_img{
    height: 400px;
}

.hero_img img{
    height: 350px;
}

.about-text{
    text-align: center;
}

.about-us{
    margin: 50px;
}

.f_flex{
    display: flex;
    flex-direction: row;
}

.wcu_text{
    margin:20px;
}

.wcu_text p{
    margin:20px;
}