.shorts{
    background-color: black;
    display: flex;
    flex-direction: row;
    color:white;
}

.footer{
    background-color: black;
    color: white;
    margin-top: 5px;
    margin-bottom: 0;
    height: 40px;
}

.address{
    width:50%
}

.wh{
    width:25%
}

.ql{
    width: 25%;
}

@media (max-width:326px){
    .address p{
        font-size: small;
    }

    .address h3{
        font-size: small;
    }

    .ql h3{
        font-size: small;
    }

    .wh p{
        font-size: xx-small;
    }

    .wh h3{
        font-size: small;
    }
}